<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <title>githubviz</title>
    <script type="text/javascript" src="d3.js?2.7.2"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript">
      $(function (){
        $('#viz_form').submit(function(ev){
          //this happens if form is submitted
          //prevent the default behavior of a form (it should do nothing in our case)
          ev.preventDefault();

          //send an ajax request to our action
          $.ajax({
            url: "/follower_viz",
            //serialize the form and use it as data for our ajax request
            data: $(this).serialize(),
            //the type of data we are expecting back from server, could be json too
            dataType: "html",
            success: function(data) {
              //if our ajax request is successful, replace the content of our viz div with the response data
              $('#content').html(data);
            }
          });

          //show the link to the repo_viz (don't forget: we are still in the submit event!)
        $('#viz_network').empty();
      	$('#viz_repos').empty();
	  	$('#viz_commits').empty();
	  	$('#viz_network').append($("<strong>Follower</strong>"));
      	$('#viz_repos').append($("<strong>Growth</strong>"));
	  	$('#viz_commits').append($("<strong>Commit Activity</strong>"));
      	$('#menu').show();
          
        });

        $('#viz_network').click(function(ev){
          //this happens if we click our new shiny link with the submitted username in it

          //do you remember?! :)
          ev.preventDefault();

          $.ajax({
            url: "/follower_viz",
            data: $("#viz_form").serialize(),
            dataType: "html",
            success: function(data) {
              $('#content').html(data);
            }
          });

        });

		$('#viz_repos').click(function(ev){
          //this happens if we click our new shiny link with the submitted username in it

          //do you remember?! :)
          ev.preventDefault();

          $.ajax({
            url: "/repo_viz",
            data: "user="+$("#viz_form input:first").val(),
            dataType: "html",
            success: function(data) {
              $('#content').html(data);
            }
          });

        });
		$('#viz_commits').click(function(ev){
          //this happens if we click our new shiny link with the submitted username in it

          //do you remember?! :)
          ev.preventDefault();

          $.ajax({
            url: "/commit_viz",
            data: "user="+$("#viz_form input:first").val(),
            dataType: "html",
            success: function(data) {
              $('#content').html(data);
            }
          });

        });
        
      });
    </script>
    <style>
      circle.node {
        stroke: #fff;
        stroke-width: 1.5px;
      }

      line.link {
        stroke: #999;
        stroke-opacity: .6;
      }

      * {
        margin:0px;
        padding: 0px;
        font-family: Arial;
      }
      
      h3 {
       padding-bottom: 5px;
      }
      
      p {
      	font-size: 10pt;
      }
      
      .gallery{
      	text-align: center;
      }
      
      #desc_text{
      	width:500px;
      }
      
      #header{
      	padding:10px;
      }
      
      .description {
      	text-align:center;
      	clear:both;
      	height: 85px;
      }
      
      .formlabel {
      	font-size: 10pt;
      }
      
      #menu{
      	float:left;
      }
      
       #menu li{
      	float:left;
      	list-style-type: none;
      	padding: 10px 0px 0px 10px;
      }
      
      .level_buttons{
      	float:right;
      }
      
      .level_buttons form{
      	float:left;
      	padding: 0px 10px 0px 0px;
      }
      
      .table_text{text-align: left;
      }

	  .mode{
	  	clear: both;
		font-size: 10pt;
		padding: 5px 5px 0 0;
	  }
	  .show_hide{
	  	float:right;
		font-size: 10pt;
		padding: 5px 5px 0 0;
	  }
	  .chord {
	  font-size: 8pt; 
	  font-family: sans-serif;
	  height: 700px;
	  padding-left: 0px;
	}
	
	path.chord {
	  fill-opacity: .85;
	  stroke-opacity: 1.0;
	}
	
	path{
	  fill-opacity: 1.0;
	  stroke-opacity: 1.0;
	}
	
	.clickarea{
	width: 280px;
	height: 280px;
	margin: 210px 0 0 -140px;
	z-index: 1;
	left:50%;
	position: absolute;
	cursor: pointer;
	}
	
	svg.chord {
	clear: both;
	position: absolute;
	z-index: 0;
	left:50%;
	margin-left:-350px;
	width: 700px;
	}
	
	.nodetext {pointer-events: none; font: 10px sans-serif; }
	
    </style>
  </head>
  <body>
    <div id="header">
    	<div style="float:left;">
    		<h1><a href="/" name="go home">githubviz</a></h1>
    	</div>
    	<div style="float:right;">
    		<form id="viz_form" action="/" method="post">
      			<label class="formlabel">Enter your username:</label>
      			<input name="user" type="text">
      			<input type="submit" value="Do it!">
      			<input type="hidden" name="level" value="1">
    		</form>
  	</div>
	<div id="menu">
      	<ul>
		<li><a id="viz_network" href="#"></a></li>
		<li><a id="viz_repos" href="#"></a></li>
		<li><a id="viz_commits" href="#"></a></li>
      	</ul>
    	</div>
    </div>
    <div id="content"></div>
  </body>
</html>
