<div id="viz">
    <div class="description">
	<h1><%= @user %>'s Repo GROWTH</h1>
    </div>
   <div class="gallery">
    <p> UNDER CONSTRUCTION </p>
	<% @j["repo_data"].each do |language| %>
    <h3><%= language["language"]%> : <%=language["count"]%> </h3> 
    <% end %>
    <h3>the most used: <%= @sort[0][0]%> </h3> 
   </div>  
</div>   

